{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
We have EndLess Collection.
{% endblock %}
{% block title %}
Search
{% endblock %}
{% block content %}
<div>
    <p class="text-center my_search_text">you have searched for :<b>"{{query}}"</b></p>
</div>
<div class="container">
    <div class="row justify-content-center">
        {% for product in products %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 my_bottom_margin">
            <div class="card text-center" style="width: 320px; height: 400px;">
                <a href="{{ product.get_url }}">
                    <img class="card-img-top my_image1" src="{{ product.image.url }}" alt="{{ product.name }}" width="250" height="300">
                </a>
                <div class="card-body">
                    <h5><b>{{ product.name }}</b></h5>
                    <p><b>{{ product.price }}</b></p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="row mx_auto">
            <p class="text-center my_search_text">No Result Found</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}